<!doctype html>
<html>
<head>
  	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  	<title>Binger Buffer - Be a Binge, not a pirate!</title>
  	<link rel = "stylesheet" href="style/prime-style-theme-v01.css">
	<link rel="icon" href="assets/favicon.png">
  	<link rel="stylesheet" href="style/bootstrap.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet">
	<link type="text/css" rel="stylesheet" href="https://cdn.firebase.com/libs/firebaseui/3.1.1/firebaseui.css" />
	
	<link href="https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Chakra+Petch" rel="stylesheet">

	<script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
	<script src="scripts/jquery-ui.js"></script>

	<script src="https://www.gstatic.com/firebasejs/5.5.5/firebase.js"></script>
	<script src="https://cdn.firebase.com/libs/firebaseui/3.1.1/firebaseui.js"></script>
	<script>
	  // Initialize Firebase
	  var config = {
		apiKey: "AIzaSyAHY-2HvCfkOcAb-zAW3hyV_DdHbDOnDhE",
		authDomain: "binge-buffer.firebaseapp.com",
		databaseURL: "https://binge-buffer.firebaseio.com",
		projectId: "binge-buffer",
		storageBucket: "binge-buffer.appspot.com",
		messagingSenderId: "564639419061"
	  };
	  firebase.initializeApp(config);
	</script>

  	<script src="scripts/bootstrap.js"></script>
  	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.4/angular.min.js"></script>
	<script type="text/javascript" src="scripts/prime-activity-script-v01.js"></script>
	<script defer src="https://use.fontawesome.com/releases/v5.4.1/js/all.js" integrity="sha384-L469/ELG4Bg9sDQbl0hvjMq8pOcqFgkSpwhwnslzvVVGpDjYJ6wJJyYjvG3u8XW7" crossorigin="anonymous"></script>
	
	<script src="https://www.gstatic.com/firebasejs/5.5.3/firebase.js"></script>
	
</head>

<body ng-app="BingeBuffer">

	<div class="header-navbar">
		<div class="header-wrapper container-fluid" id="head-wrapper">

			<div class="roll-main-cnt container-fluid row" ng-controller="globalController">
				<div class="col-2 logo-content row mr-md-5 ml-md-5">
					<div class="logo-wrapper col-xs-6" id="logo-wrapper">&nbsp;</div>
					<div class="logo-label col-xs-6">inge Buffer</div>
				</div>

				<ul class="menu-roller col-6 text-center ml-md-5 mr-md-6">
					<li class="menu-item hot-menu">HOT NOW</li>
					<li ng-click="clickActivator('categorySwitch')" class="menu-item category-menu">CATEGORIES &nbsp; <i class="fas fa-angle-down"></i></li>
					<li class="menu-item trend-menu">TOPPERS</li>
					<li class="menu-item latest-menu">LATEST DROPS</li>
				</ul>

				<div class="action-ico-container col-2 mr-ml-6">

					<div class="global-ico-wrapper row">

						<div class="dummy-col col-6 mr-ml-6">&nbsp;</div>

						<div class="g-ico-x col-3 search-toggle" ng-click="clickActivator('searchSwitch')">
							<i class="fas fa-search fa-2x search-ico fas-global-ico outer-search-ico" style="color:#939393;"></i>
						</div>

						<div class="g-ico-x col-1" ng-click="clickActivator('authSwitch')">
							<i class="fas fa-user fa-2x user-ico fas-global-ico" style="color:#939393;"></i>						
						</div>

					</div>

				</div>
			</div>

		  <div class="searchbar-wrapper">
			<div class="search-txt row">

			  <div class="searchbox-cnt col-10">
				<input type="text" class = "search-lightbox" placeholder="what ya looking for?" />
			  </div>

			  <div class="searchbox-cnt col-2">
				<i class="fas fa-search search-ico inline-fa-searchbox fas-global-ico" style="color:#939393;font-size: 20px;"></i>
			  </div>

			</div>
		  </div>

		</div>
		
	</div>
	
	<div class="auth-bubble container-fluid" ng-controller="authController">
							
		<div class="global-auth-wrapper google-auth row" ng-click="authClick('google')">
			<div class="global-auth-ico google-ico col-1">
				<i class="fab fa-google fa-lg auth-fa-icon" style="color: #fff;"></i>
			</div>
			<div class="dummy-auth-col col-1" style="padding-left: 10px; border-right: dotted 1px #fff;">&nbsp;</div>
			<div class="auth-label google-auth-label col-7">Google</div>
		</div>	
		
		<div class="global-auth-wrapper facebook-auth row" ng-click="authClick('google')">
			<div class="global-auth-ico facebook-auth-ico col-1">
				<i class="fab fa-facebook-f fa-lg auth-fa-icon" style="color: #fff;"></i>
			</div>
			<div class="dummy-col col-1" style="padding-left: 10px; border-right: dotted 1px #fff;">&nbsp;</div>
			<div class="auth-label facebook-auth-label col-7">facebook</div>
		</div>
		
		<div class="global-auth-wrapper twitter-auth row" ng-click="authClick('google')">
			<div class="global-auth-ico twitter-auth-ico col-1">
				<i class="fab fa-twitter fa-lg auth-fa-icon" style="color: #fff;"></i>
			</div>
			<div class="dummy-col col-1" style="padding-left: 10px; border-right: dotted 1px #fff;">&nbsp;</div>
			<div class="auth-label twitter-auth-label col-7">twitter</div>
		</div>

	</div>
	
	<div class="category-list-wrapper container-fluid">
		
		<div class="cat-list-inline-container row">
			
			<div class="col-2">&nbsp;</div>
			
			<div class="cat-wrap-item col-2">
				<div class="cat-ico">
					<i class="fas fa-film fa-2x"></i>
				</div>
				<div class="cat-label">
					Movies
				</div>
			</div>

			<div class="cat-wrap-item col-2">
				<div class="cat-ico">
					<i class="fas fa-tv fa-2x"></i>
				</div>
				<div class="cat-label">
					TV Shows
				</div>
			</div>

			<div class="cat-wrap-item col-2">
				<div class="cat-ico">
					<i class="fas fa-flushed fa-2x"></i>
				</div>
				<div class="cat-label">
					Anime
				</div>
			</div>

			<div class="cat-wrap-item col-2">
				<div class="cat-ico">
					<i class="fas fa-paw fa-2x"></i>
				</div>
				<div class="cat-label">
					Animation
				</div>
			</div>
			
		</div>
		
		
	</div>
	

</body>
</html>
